.root
{
    -fx-background-color: linear-gradient( to left,#C04848, #480048);
    -fx-padding: 30;
    -fx-font: 17 'sans';
    -fx-background-radius: 15;
}


.separator
{
   -fx-background-color: linear-gradient(to right, #1CD8D2, #93EDC7);
}
.label
{
    -fx-text-fill: white;
}
.BigTitle
{
    -fx-text-fill: linear-gradient(to right, #1CD8D2, #93EDC7);
}
.BiggerTitle
{
    -fx-font-size: 40px;
    -fx-font-style: italic;
    -fx-text-fill: linear-gradient(to right, #1CD8D2, #93EDC7);
}

.text-field
{
    -fx-background-color: transparent;
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-width: 3px;
    -fx-border-color: #1CD8D2;
    -fx-padding: -6;
    -fx-text-fill: linear-gradient(to right, #FF8008,#FFC837 );
    -fx-font:italic 18 'verdana';
}
.nameField
{
    -fx-font:italic 30 'Palatino Linotype', serif;
}
.date-picker
{
    -fx-background-color: transparent;
}

.button
{
    -fx-text-fill: linear-gradient(to right, #cbd0d8, #edcbe6);
    -fx-background-color: linear-gradient(to top, rgba(123, 0, 72, 0.5), rgba(192, 72, 72, 0.49));
    -fx-background-insets: 2;
    -fx-border-width: 4;
    -fx-border-style: solid;
    -fx-border-radius: 20;
    -fx-border-color: linear-gradient(to left, rgba(123, 0, 72, 0.18), rgba(192, 72, 72, 0.47));
    -fx-background-radius: 15;
}
.text-area
{
    -fx-text-fill: linear-gradient(to right, #FF8008,#FFC837 );
    -fx-background-color: linear-gradient(to top, rgba(165, 0, 104, 0.34), rgba(221, 77, 77, 0.34));
}
.text-area .scroll-pane {
    -fx-background-color: transparent;
}
.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}
.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}
.text-area .content
{
    -fx-border-style: solid hidden solid hidden;
    -fx-border-width: 3px;
     -fx-border-color: #1CD8D2;;

    -fx-border-radius: 0;
    -fx-background-radius: 0;

}


.button:hover
{
    -fx-background-color: linear-gradient(to top, rgba(165, 0, 104, 0.5), rgba(221, 77, 77, 0.49));
    -fx-effect: dropshadow(one-pass-box, rgba(99, 248, 248, 0.36), 60, 0, 0, 0);

}
.button:pressed
{
    -fx-background-color: linear-gradient(to bottom , rgba(165, 0, 104, 0.5), rgba(221, 77, 77, 0.49));
    -fx-text-fill: linear-gradient(to right, #9ca1a9, #a1859a);
    -fx-effect: innershadow(gaussian, black, 5, 0.0, -5, 4);


}

.date-picker > .arrow-button
{
    -fx-text-fill: linear-gradient(to right, #1CD8D2, #93EDC7);
    -fx-background-radius: 20;
}
.date-picker > .arrow-button:pressed
{
    -fx-text-fill: linear-gradient(to right, #1CD8D2, #93EDC7);
    -fx-background-radius: 20;
    -fx-effect: innershadow(gaussian, black, 5, 0.0, -5, 4);
}
.date-picker .button
{
    -fx-background-color: transparent;
    -fx-border-style: hidden;
}

.date-picker .button:hover
{
    -fx-background-color: transparent;
    -fx-border-style: hidden;
    -fx-effect: none;
}

