.root
{
    -fx-background-color: black;

}

.mainPane
{
    -fx-background-radius: 20;
}

.leftPane
{
    -fx-background-color: linear-gradient(to right, #C04848, #9A3148);


    /*
    border
    */

    -fx-border-image-insets: 14;
    -fx-border-image-source: url("border.png");
    -fx-border-image-width: 0 0 2 2;
    -fx-border-image-slice: 2;
    -fx-border-image-repeat: round;

    /*
    other shit
    */
    -fx-min-height: 525;
    -fx-min-width: 205;

    /*text*/
    -fx-font-size: 15;
    -fx-fill: black;
}





.leftCenterPane
{
    -fx-padding: 20;
}

.leftCenterPane>.label
{
    -fx-text-fill: black;
}

.leftTopPane
{
-fx-padding: 20;
}


.formPane
{
    -fx-min-width: 440;
    -fx-min-height: 540;
    -fx-padding: 70 40 40 40;
    -fx-alignment: center;

}

.formPane>.label
{
    -fx-text-fill: white;
}


/*buttons*/

.button
{
    -fx-text-fill: linear-gradient(to right, #cbd0d8, #edcbe6);
    -fx-background-color: linear-gradient(to top, rgba(123, 0, 72, 0.5), rgba(192, 72, 72, 0.49));
    -fx-background-insets: 2;
    -fx-border-width: 4;
    -fx-border-style: solid;
    -fx-border-radius: 20;
    -fx-border-color: linear-gradient(to left, rgba(123, 0, 72, 0.18), rgba(192, 72, 72, 0.47));
    -fx-background-radius: 15;
}

.button:hover
{
    -fx-background-color: linear-gradient(to top, rgba(165, 0, 104, 0.5), rgba(221, 77, 77, 0.49));
    -fx-effect: dropshadow(one-pass-box, rgba(99, 248, 248, 0.36), 60, 0, 0, 0);

}
.button:pressed
{
    -fx-background-color: linear-gradient(to bottom , rgba(165, 0, 104, 0.5), rgba(221, 77, 77, 0.49));
    -fx-text-fill: linear-gradient(to right, #9ca1a9, #a1859a);
    /*noinspection CssInvalidFunction*/
    -fx-effect: innershadow(gaussian, black, 5, 0.0, -5, 4);


}

/*some other controls!*/

.text-field
{
    -fx-background-color: transparent;
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-width: 1px;
    -fx-border-color: linear-gradient(to right, rgb(123, 0, 72), rgb(192, 72, 72));;
    -fx-padding: -3;
    -fx-text-fill: linear-gradient(to right, rgb(123, 0, 72), rgb(192, 72, 72));;
    -fx-font: 15 'verdana';

    -fx-alignment: baseline-center;
}

.combo-box
{
    -fx-background-color: transparent;
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-width: 1px;
    -fx-border-color: linear-gradient(to right, rgb(123, 0, 72), rgb(192, 72, 72));;

    -fx-font: 15 'verdana';
}

.combo-box .list-cell
{
    -fx-text-fill: linear-gradient(to right, rgb(123, 0, 72), rgb(192, 72, 72));
    -fx-alignment: bottom-center;
}